<%= render partial: "shared/heading", locals: { title: 'Apply to QuinnDate', tagline: 'Each submission is reviewed by our team' } %>

<% plan_name = params[:plan] || 'free' %>

<div class="max-w-lg mx-auto">
  <%= form_for UserSubmission.new do |f| %>
    <!-- <form class="space-y-8"> -->
      <input type="hidden" id="user_submission_plan_name" name="user_submission[plan_name]" value="<%= plan_name %>">
      <div class="space-y-8 sm:space-y-5">
        <div class="space-y-6 pt-8 sm:space-y-5 sm:pt-10">
          <div class="space-y-6 sm:space-y-5">
            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4  sm:pt-5">
              <label for="first_name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">First name</label>
              <div class="mt-1 sm:col-span-2 sm:mt-0">
                <%= f.text_field :first_name, autocomplete: "given-name", required: true, class: "block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-sm", placeholder: "ryan" %>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4  sm:pt-5">
              <label for="last_name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">Last name</label>
              <div class="mt-1 sm:col-span-2 sm:mt-0">
                <%= f.text_field :last_name, autocomplete: "given-name", required: true, class: "block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-sm", placeholder: "ryan" %>

              </div>
            </div>

            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4  sm:pt-5">
              <label for="email" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">Email address</label>
              <div class="mt-1 sm:col-span-2 sm:mt-0">
                <%= f.text_field :email, type: "email", autocomplete: "email", required: true, class: "block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-sm", placeholder: "ryan@fomo.com" %>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4  sm:pt-5">
              <label for="website" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">Website</label>
              <div class="mt-1 sm:col-span-2 sm:mt-0">
                <%= f.text_field :website, type: "url", autocomplete: "email", required: true, class: "block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-sm", placeholder: "https://fomo.com" %>
              </div>
            </div>


          </div>
        </div>



          <div class="space-y-6   sm:space-y-5">
            <div class="pt-6 sm:pt-5">
              <div role="group" aria-labelledby="label-notifications">
                <div class="sm:grid sm:grid-cols-3 sm:items-baseline sm:gap-4">
                  <div>
                    <div class="text-base font-medium text-gray-900 sm:text-sm sm:text-gray-700" id="label-notifications">What is your role?</div>
                  </div>
                  <div class="sm:col-span-2">
                    <div class="max-w-lg">
                      <p class="text-sm text-gray-500">These are delivered via SMS to your mobile phone.</p>
                      <div class="mt-4 space-y-4">
                        <div class="flex items-center">
                          <%= f.radio_button :job_role, "founder", class: "h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500", required: true %>
                          <label for="founder" class="ml-3 block text-sm font-medium text-gray-700">Founder</label>
                        </div>
                        <div class="flex items-center">
                          <%= f.radio_button :job_role, "c-suite", class: "h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500", required: true  %>
                          <label for="c-suite" class="ml-3 block text-sm font-medium text-gray-700">C-Suite</label>
                        </div>
                        <div class="flex items-center">
                          <%= f.radio_button :job_role, "employee", class: "h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500", required: true %>
                          <label for="employee" class="ml-3 block text-sm font-medium text-gray-700">Employee</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4  sm:pt-5">
          <label for="text" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">Paste a snippet of newsletter</label>
            <div class="mt-1 sm:col-span-2 sm:mt-0">
                  <%= f.text_area :text, class: "block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-sm", required: true %>

            </div>
        </div>
      </div>



      <div class="pt-5">
        <div class="flex mx-auto">
          <button type="submit" class="inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Apply to Quinndate</button>
        </div>
      </div>
    <!-- </form> -->
  <% end %>
</div>
